In [13]:
# Try default UTF-8 first
destination = 'downloaded_file.csv'
import pandas as pd
try:
    df = pd.read_csv(destination)
except UnicodeDecodeError:
    # If encoding fails, try a more lenient encoding
    df = pd.read_csv(destination, encoding="latin1", header = None)

print(df.head())

  Untitled spreadsheet.xlsx Unnamed: 1 Unnamed: 2   Unnamed: 3 Unnamed: 4  \
0                       NaN        NaN        NaN          NaN        NaN
1                       NaN        NaN        NaN          NaN        NaN
2             Uploaded data        NaN        NaN          NaN        NaN
3                     LCSC#       Mfr.       Mrf#  Description    Package
4                    C14663        NaN        NaN          NaN        NaN

  Unnamed: 5            Unnamed: 6 Unnamed: 7         Unnamed: 8  \
0        NaN                   NaN        NaN                NaN
1        NaN                   NaN        NaN                NaN
2        NaN                   NaN        NaN                NaN
3      Value  Customer Part Number   Quantity  Target Price(USD)
4        NaN                     -        100                NaN

                        Unnamed: 9  ... Unnamed: 16 Unnamed: 17  \
0                              NaN  ...         NaN         NaN
1                              NaN  ...         NaN         NaN
2                              NaN  ...         NaN         NaN
3  Target Lead Time(Business Days)  ...     Package         Min
4                              NaN  ...        0603         100

                                         Unnamed: 18 Unnamed: 19  \
0  The matching result is a real-time query resul...         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                               Mult         SPQ
4                                                100        4000

    Unnamed: 20   Unnamed: 21     Unnamed: 22  \
0           NaN           NaN             NaN
1           NaN           NaN             NaN
2           NaN           NaN             NaN
3  Availability  Stock Status  Customer Notes
4      30476700      In Stock             NaN

                                         Unnamed: 23     Unnamed: 24  \
0                                                NaN             NaN
1                                                NaN             NaN
2                                                NaN             NaN
3                                        Description  Matched status
4  50V 100nF X7R ±10% 0603 Multilayer Ceramic Cap...   Exact Matches

                                       Unnamed: 25
0                                              NaN
1                                              NaN
2                                              NaN
3                                     Product Link
4  https://www.lcsc.com/product-detail/C14663.html

[5 rows x 26 columns]

In [15]:
df[1:3]

,Untitled spreadsheet.xlsx,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Uploaded data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.iloc[4:].reset_index(drop=True)  # remove first 4 rows and reset index
print(df.head())

         0     1     2            3        4      5                     6   \
0     LCSC#  Mfr.  Mrf#  Description  Package  Value  Customer Part Number
1    C14663   NaN   NaN          NaN      NaN    NaN                     -
2  C6119842   NaN   NaN          NaN      NaN    NaN                     -
3    C60474   NaN   NaN          NaN      NaN    NaN                     -
4    C15008   NaN   NaN          NaN      NaN    NaN                     -

         7                  8                                9   ...       16  \
0  Quantity  Target Price(USD)  Target Lead Time(Business Days)  ...  Package
1       100                NaN                              NaN  ...     0603
2       100                NaN                              NaN  ...     0603
3       100                NaN                              NaN  ...     0402
4       100                NaN                              NaN  ...     1206

    17    18     19            20            21  \
0  Min  Mult    SPQ  Availability  Stock Status
1  100   100   4000      30476700      In Stock
2  100   100   4000       3214000      In Stock
3  100   100  10000      10131000      In Stock
4    5     5   2000        654960      In Stock

                                     22  \
0                        Customer Notes
1                                   NaN
2                                   NaN
3                                   NaN
4  Needs Replacing for greater than 50V

                                                  23              24  \
0                                        Description  Matched status
1  50V 100nF X7R ±10% 0603 Multilayer Ceramic Cap...   Exact Matches
2  10V 10uF X5R ±10% 0603 Multilayer Ceramic Capa...   Exact Matches
3  16V 100nF X7R ±10% 0402 Multilayer Ceramic Cap...   Exact Matches
4  6.3V 100uF X5R ±20% 1206 Multilayer Ceramic Ca...   Exact Matches

                                                  25
0                                       Product Link
1    https://www.lcsc.com/product-detail/C14663.html
2  https://www.lcsc.com/product-detail/C6119842.html
3    https://www.lcsc.com/product-detail/C60474.html
4    https://www.lcsc.com/product-detail/C15008.html

[5 rows x 26 columns]

In [ ]:
df.columns = df.iloc[0]   # Take first row as header
df = df[1:].reset_index(drop=True)  # Remove the first row from data

print(df.head())

0     LCSC# Mfr. Mrf# Description Package Value Customer Part Number Quantity  \
0    C14663  NaN  NaN         NaN     NaN   NaN                    -      100
1  C6119842  NaN  NaN         NaN     NaN   NaN                    -      100
2    C60474  NaN  NaN         NaN     NaN   NaN                    -      100
3    C15008  NaN  NaN         NaN     NaN   NaN                    -      100
4    C98192  NaN  NaN         NaN     NaN   NaN                    -      100

0 Target Price(USD) Target Lead Time(Business Days)  ... Package  Min Mult  \
0               NaN                             NaN  ...    0603  100  100
1               NaN                             NaN  ...    0603  100  100
2               NaN                             NaN  ...    0402  100  100
3               NaN                             NaN  ...    1206    5    5
4               NaN                             NaN  ...    0805   10   10

0    SPQ Availability Stock Status                        Customer Notes  \
0   4000     30476700     In Stock                                   NaN
1   4000      3214000     In Stock                                   NaN
2  10000     10131000     In Stock                                   NaN
3   2000       654960     In Stock  Needs Replacing for greater than 50V
4   2000       526690     In Stock                                   NaN

0                                        Description Matched status  \
0  50V 100nF X7R ±10% 0603 Multilayer Ceramic Cap...  Exact Matches
1  10V 10uF X5R ±10% 0603 Multilayer Ceramic Capa...  Exact Matches
2  16V 100nF X7R ±10% 0402 Multilayer Ceramic Cap...  Exact Matches
3  6.3V 100uF X5R ±20% 1206 Multilayer Ceramic Ca...  Exact Matches
4  50V 4.7uF X5R ±10% 0805 Multilayer Ceramic Cap...  Exact Matches

0                                       Product Link
0    https://www.lcsc.com/product-detail/C14663.html
1  https://www.lcsc.com/product-detail/C6119842.html
2    https://www.lcsc.com/product-detail/C60474.html
3    https://www.lcsc.com/product-detail/C15008.html
4    https://www.lcsc.com/product-detail/C98192.html

[5 rows x 26 columns]

In [12]:
df.to_csv("processed_file.csv", index=False)